<a href="https://colab.research.google.com/github/RoyMillamis/OOP-1-2/blob/main/OOP_Concepts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Classes and Objects

Create a class

In [ ]:
class MyClass:
  pass

In [2]:
class OOP1_2:
  X=5
  print(X)

5

Create Objects

In [5]:
class OOP1_2:
  def __init__(self,name,age):
    self.name = name #attributes
    self.age = age
  def identity(self):
    print(self.name,self.age)
person = OOP1_2("Roy",20) #create objects

print(person.identity)

<bound method OOP1_2.identity of <__main__.OOP1_2 object at 0x7f8a813af350>>

In [6]:
class OOP1_2:
  def __init__(self,name,age): #__init__(parameter)
    self.name = name #attributes
    self.age = age
  def identity(self):
    print(self.name,self.age)
person = OOP1_2("Roy",20)

print(person.name)
print(person.age)

Roy
20

In [7]:
class OOP1_2:
  def __init__(self,name,age): #__init__(parameter)
    self.name = name #attributes
    self.age = age
  def identity(self):
    print(self.name,self.age)
person = OOP1_2("Roy",20)

print(person.name)
print(person.age)
print(person.identity)

Roy
20
<bound method OOP1_2.identity of <__main__.OOP1_2 object at 0x7f8a81398e10>>

In [10]:
#Modify the Object Name
person.name = "Paul"
print(person.name)
print(person.age)

Paul
20

In [11]:
person.age = 50
print(person.name)
print(person.age)

Paul
50

In [13]:
#Delete the Object

del person.name

AttributeError: ignored

In [16]:
print(person.name)

AttributeError: ignored

In [19]:
print(person.age)

50

Application 1 - Write a Python program that computes the area of a square and name its class as Square, side as attribute

In [25]:
class Square:
  def __init__(self,sides):
    self.sides = sides

  def area(self):
    return self.sides*self.sides #formula to compute the area of the square

  def display(self):
   print("the area of the square is",self.area())

square = Square(4)
print(square.sides)
square.display()

4
the area of the square is 16

Application 2 - Write a Python Program that displays your full name,age,course,school. Create a class named MyClass, and name,age,course,school as attributes.

In [33]:
class MyClass:
  def __init__(self,name,age,course,school):
    self.name = name
    self.age = age
    self.course = course
    self.school = school

  def identity(self):
    print(self.name,self.age,self.course,self.school)
  
person = MyClass("Roy Millamis",20,"Bachelor of Science In Computer Engineering","Cavite State University")

print(person.name)
print(person.age)
print(person.course)
print(person.school)
person.identity()
print(person.identity)

Roy Millamis
20
Bachelor of Science In Computer Engineering
Cavite State University
Roy Millamis 20 Bachelor of Science In Computer Engineering Cavite State University
<bound method MyClass.identity of <__main__.MyClass object at 0x7f8a812ded10>>